<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home Page</title>
   
</head>
<body>
    <!-- Header Section -->
    <header>
        <h1>Histoires pour enfants</h1>
    </header>    <!-- Navigation Bar -->
    <nav>
        <a href="#home">Accueil</a>
        <a href="Gallery.html">Galerie</a>

        <a href="#contact">Contact</a>
    </nav>    <!-- Main Content -->
    <div class="index">
        <img src="{{ url_for('static', filename='images/image1.jpg') }} ">
    <main>
        <h2>Bienvenue au monde des histoires pour enfants</h2>
        <p>Venez découvrir notre meilleure collection des histoires amusantes </p>
        <p>Cliquez sur la galerie pour voir toutes les histoires .</p>
    </main>    <!-- Footer Section -->


    <footer>
        <p>&copy; 2025 My Website | All Rights Reserved</p>
    </footer>
</body>
</html>
